DATABASE_HOST=postgis
DATABASE_PORT=5432
POSTGRES_DB=ferrytracker

PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_USER=ft_admin
POSTGRES_PASSWORD=

API_USER_USERNAME=ferry_api_user
API_USER_PASSWORD=

INGESTION_USER_USERNAME=ferry_ingest_user
INGESTION_USER_PASSWORD=

MIGRATION_DB_USER=ferry_migrator
MIGRATOR_PASSWORD=

MQTT_DB_USER=ferry_mqtt_user
MQTT_DB_PASSWORD=

MQTT_PORT=1883
MQTT_BROKER=mqtt

MQTT_LISTENER_USERNAME=ferry_mqtt_listener
MQTT_LISTENER_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

SENTRY_DSN_FRONTEND_SERVER=
SENTRY_SCRIPT_URL=
SENTRY_DSN_API=
SENTRY_DSN_INGESTION_SERVER=
