DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=ferrytracker

PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_USER=ft_admin
POSTGRES_DB=ferrytracker
POSTGRES_PASSWORD=

API_USER_USERNAME=ferry_api_user
API_USER_PASSWORD=

INGESTION_USER_USERNAME=ferry_ingest_user
INGESTION_USER_PASSWORD=

MIGRATION_DB_USER=ferry_migrator
MIGRATOR_PASSWORD=

SENTRY_DSN=
