.background_image {
display: flex;
justify-content: center;
align-items: center;
background-image: url("/static/design/Tamar_bridge.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
min-height: 100vh;
}

.info_box {
    background: (rgb(255, 255, 255), 0.9);
    border-radius: 20px;
    box-shadow: 0 10px, 30px, rgb(0, 0, 0, 0.2);
    border: 1px solid black;
    backdrop-filter: blur(20px);
    padding: 10px 40px 20px 10px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}

.nice_text {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 22px;
    font-style: normal;
    letter-spacing: 0.3px;
}